<h1> <%=@heading %> </h1>

<% Food.hashify(@data).each do |suggestion| %>
  <% food = Food.search(suggestion["food_id"]) %>
  <% music = Music.search(suggestion["music_id"], suggestion["music_type"]) %>
  <br>Yum! <%= link_to food.name, food.url %><br>
  Tunes! <%= link_to music.name, music.external_urls["spotify"] %><br>
    type: <%= music.type %><br>
    <%= link_to "mark as favorite", favorite_path(suggestion["id"]), method: :post unless current_user.nil? %>
    <%#= link_to "Unfavorite", delete_favorite_path(suggestion_id: "suggestions"), method: :delete %>

<% end %>
