<!DOCTYPE html>
<html>
<head>
  <title>TunesTakeout</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1>TunesTakeout</h1>
    <%= image_tag "spotify.png", height: '32', width: '32' %>
  </header>

  <nav>
  <%= link_to "Home", root_path %>
  <% if current_user %>
    <h2>Welcome, <%= link_to current_user.name, "https://open.spotify.com/user/#{current_user.uid}" %></h2>

    <img src="<%=current_user.image%>" alt="User profile pic">
    <%= link_to "Logout", logout_path, method: 'delete' %>

    <h2>Search</h2>
      <%= form_tag search_path do %>
        <%= label_tag :keyword %>
        <%= text_field_tag :keyword %>
        <%= submit_tag("Search") %>
      <% end %>

    <h2> <%= link_to "See My Favorites", favorites_path, method: 'get' %></h2>

    <% else %>
      <%= link_to "Login", "/auth/spotify" %>
    <% end %>
  </nav>


    <%= yield %>

  </body>
  </html>
